.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #7bafd4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #13294b;
  height: 11dvh;
}

.App-body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: bottom;
  justify-content: center;
  color: black;
  height: 89dvh;
}

.app-text {
  margin: auto;
}

p.stats {
  margin-top: 2dvh;
  margin-bottom: 4dvh;
}

p.yes {
  font-size: 120pt;
  font-weight: bold;
  color: green;
}

p.no {
  font-size: 120pt;
  font-weight: bold;
  color: red;
}
